OpenELIS/version2/OpenELIS/branches/sdwisLoginScreen/ejb/src/resources/META-INF/dataExchangeDefault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Exhibit A - UIRF Open-source Based Public Software License. The contents 
	of this file are subject to the UIRF Open-source Based Public Software License(the 
	"License"); you may not use this file except in compliance with the License. 
	You may obtain a copy of the License at openelis.uhl.uiowa.edu Software distributed 
	under the License is distributed on an "AS IS" basis, WITHOUT WARRANTY OF 
	ANY KIND, either express or implied. See the License for the specific language 
	governing rights and limitations under the License. The Original Code is 
	OpenELIS code. The Initial Developer of the Original Code is The University 
	of Iowa. Portions created by The University of Iowa are Copyright 2006-2008. 
	All Rights Reserved. Contributor(s): ______________________________________. 
	Alternatively, the contents of this file marked "Separately-Licensed" may 
	be used under the terms of a UIRF Software license ("UIRF Software License"), 
	in which case the provisions of a UIRF Software License are applicable instead 
	of those above. -->

<!-- The name "Type" is used instead of "type" because "type" is a keyword 
	used by Rhapsody's Symphonia Mapper. -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="header" />
				<xs:element name="sample" type="sample" />
			</xs:sequence>
			<xs:attribute name="Type" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:complexType name="header">
		<xs:sequence>
			<xs:element name="name" minOccurs="0" type="xs:string" />
			<xs:element name="environment" minOccurs="0" type="xs:string" />
			<xs:element name="profiles" minOccurs="0" type="profiles" />
			<xs:element name="organization_parameter" minOccurs="0"
				maxOccurs="unbounded" type="organizationParameter" />
		</xs:sequence>
		<xs:attribute name="include_all_analyses" type="xs:string"
			use="required" />
	</xs:complexType>

	<xs:complexType name="profiles">
		<xs:sequence>
			<xs:element name="profile" minOccurs="1" maxOccurs="unbounded"
				type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="sample">
		<xs:sequence>
			<xs:element name="client_reference" minOccurs="0" type="xs:string" />
			<xs:element name="received_by" minOccurs="0" type="systemUser" />
			<xs:element name="status" type="dictionary" />
			<xs:element name="eorder" minOccurs="0" type="eOrder" />
			<xs:choice>
				<xs:element name="sample_environmental" type="sampleEnvironmental" />
				<xs:element name="sample_private_well" type="samplePrivateWell" />
				<xs:element name="sample_sdwis" type="sampleSDWIS" />
				<xs:element name="sample_neonatal" type="sampleNeonatal" />
				<xs:element name="sample_clinical" type="sampleClinical" />
			</xs:choice>
			<xs:element name="sample_project" type="sampleProject"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="sample_organization" type="sampleOrganization"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="note" type="note" minOccurs="0" />
			<xs:element name="sample_qaevent" type="sampleQaevent"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="aux_data" type="auxData" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="sample_item" type="sampleItem"
				maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:integer" />
		<xs:attribute name="domain" type="xs:string" use="required" />
		<xs:attribute name="accession_number" type="xs:integer"
			use="required" />
		<xs:attribute name="revision" type="xs:integer" />
		<xs:attribute name="order_id" type="xs:integer" />
		<xs:attribute name="entered_date" type="xs:dateTime" use="required" />
		<xs:attribute name="received_date" type="xs:dateTime"
			use="required" />
		<xs:attribute name="collection_date" type="xs:date" />
		<xs:attribute name="collection_time" type="xs:time" />
		<xs:attribute name="package_id" type="xs:integer" />
		<xs:attribute name="released_date" type="xs:dateTime" />
		<xs:attribute name="received_by_id" type="xs:integer" />
		<xs:attribute name="status_id" type="xs:integer" />
	</xs:complexType>

	<xs:complexType name="eOrder">
		<xs:sequence>
			<xs:element name="paper_order_validator" minOccurs="1"
				type="xs:string" />
			<xs:element name="description" minOccurs="0" type="xs:string" />
			<xs:element name="eorder_link" minOccurs="0" maxOccurs="unbounded"
				type="eOrderLink" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="entered_date" type="xs:dateTime" use="required" />
	</xs:complexType>

	<xs:complexType name="eOrderLink">
		<xs:sequence>
			<xs:element name="reference" minOccurs="0" type="xs:string" />
			<xs:element name="sub_id" minOccurs="0" type="xs:string" />
			<xs:element name="name" minOccurs="1" type="xs:string" />
			<xs:element name="value" minOccurs="0" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="eorder_id" type="xs:integer" use="required" />
	</xs:complexType>

	<xs:complexType name="sampleEnvironmental">
		<xs:sequence>
			<xs:element name="description" minOccurs="0" type="xs:string" />
			<xs:element name="collector" minOccurs="0" type="xs:string" />
			<xs:element name="collector_phone" minOccurs="0" type="xs:string" />
			<xs:element name="location" minOccurs="0" type="xs:string" />
			<xs:element name="location_address" minOccurs="0" type="address" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="sample_id" type="xs:integer" use="required" />
		<xs:attribute name="is_hazardous" type="xs:string" use="required" />
		<xs:attribute name="priority" type="xs:integer" />
		<xs:attribute name="location_address_id" type="xs:integer" />
	</xs:complexType>

	<xs:complexType name="samplePrivateWell">
		<xs:sequence>
			<xs:element name="location" minOccurs="0" type="xs:string" />
			<xs:element name="owner" minOccurs="0" type="xs:string" />
			<xs:element name="collector" minOccurs="0" type="xs:string" />
			<xs:element name="well_number" minOccurs="0" type="xs:string" />
			<xs:element name="location_address" minOccurs="0" type="address" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="sample_id" type="xs:integer" use="required" />
		<xs:attribute name="location_address_id" type="xs:integer" />
	</xs:complexType>

	<xs:complexType name="sampleSDWIS">
		<xs:sequence>
			<xs:element name="facility_id" minOccurs="0" type="xs:string" />
			<xs:element name="sample_point_id" type="xs:string" />
			<xs:element name="location" minOccurs="0" type="xs:string" />
			<xs:element name="collector" minOccurs="0" type="xs:string" />
			<xs:element name="pws" type="pws" />
			<xs:element name="sample_type" type="dictionary" />
			<xs:element name="sample_category" type="dictionary" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="sample_id" type="xs:integer" use="required" />
		<xs:attribute name="pws_id" type="xs:integer" use="required" />
		<xs:attribute name="state_lab_id" type="xs:integer" />
		<xs:attribute name="sample_type_id" type="xs:integer"
			use="required" />
		<xs:attribute name="sample_category_id" type="xs:integer"
			use="required" />
        <xs:attribute name="priority" type="xs:integer" />
	</xs:complexType>

	<xs:complexType name="pws">
		<xs:sequence>
			<xs:element name="number0" type="xs:string" />
			<xs:element name="alternate_st_num" minOccurs="0" type="xs:string" />
			<xs:element name="name" type="xs:string" />
			<xs:element name="activity_status_cd" minOccurs="0"
				type="xs:string" />
			<xs:element name="d_prin_city_svd_nm" minOccurs="0"
				type="xs:string" />
			<xs:element name="d_prin_cnty_svd_nm" minOccurs="0"
				type="xs:string" />
			<xs:element name="d_population_count" minOccurs="0"
				type="xs:string" />
			<xs:element name="d_pws_st_type_cd" minOccurs="0" type="xs:string" />
			<xs:element name="activity_rsn_txt" minOccurs="0" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="tinwsys_is_number" type="xs:integer"
			use="required" />
	</xs:complexType>

	<xs:complexType name="sampleNeonatal">
		<xs:sequence>
			<xs:element name="form_number" minOccurs="0" type="xs:string" />
			<xs:element name="feeding" minOccurs="0" type="dictionary" />
			<xs:element name="patient" minOccurs="0" type="patient" />
			<xs:element name="next_of_kin" minOccurs="0" type="patient" />
			<xs:element name="provider" minOccurs="0" type="provider" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="sample_id" type="xs:integer" use="required" />
		<xs:attribute name="birth_order" type="xs:integer" />
		<xs:attribute name="collection_age" type="xs:integer" />
		<xs:attribute name="feeding_id" type="xs:integer" />
		<xs:attribute name="gestational_age" type="xs:integer" />
		<xs:attribute name="is_collection_valid" type="xs:string" />
		<xs:attribute name="is_nicu" type="xs:string" />
		<xs:attribute name="is_repeat" type="xs:string" />
		<xs:attribute name="is_transfused" type="xs:string" />
		<xs:attribute name="next_of_kin_id" type="xs:integer" />
		<xs:attribute name="next_of_kin_relation_id" type="xs:integer" />
		<xs:attribute name="patient_id" type="xs:integer" />
		<xs:attribute name="provider_id" type="xs:integer" />
		<xs:attribute name="weight" type="xs:integer" />
		<xs:attribute name="transfusion_date" type="xs:date" />
	</xs:complexType>

	<xs:complexType name="sampleClinical">
		<xs:sequence>
			<xs:element name="provider_phone" minOccurs="0" type="xs:string" />
			<xs:element name="patient" minOccurs="1" type="patient" />
			<xs:element name="provider" minOccurs="0" type="provider" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="sample_id" type="xs:integer" use="required" />
		<xs:attribute name="patient_id" type="xs:integer" use="required" />
		<xs:attribute name="provider_id" type="xs:integer" />
	</xs:complexType>

	<xs:complexType name="patient">
		<xs:sequence>
			<xs:element name="last_name" minOccurs="0" type="xs:string" />
			<xs:element name="first_name" minOccurs="0" type="xs:string" />
			<xs:element name="middle_name" minOccurs="0" type="xs:string" />
			<xs:element name="address" type="address" />
			<xs:element name="gender" minOccurs="0" type="dictionary" />
			<xs:element name="race" minOccurs="0" type="dictionary" />
			<xs:element name="ethnicity" minOccurs="0" type="dictionary" />
			<xs:element name="relation" minOccurs="0" type="dictionary" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="address_id" type="xs:integer" />
		<xs:attribute name="birth_date" type="xs:date" />
		<xs:attribute name="birth_time" type="xs:time" />
		<xs:attribute name="gender_id" type="xs:integer" />
		<xs:attribute name="race_id" type="xs:integer" />
		<xs:attribute name="ethnicity_id" type="xs:integer" />
	</xs:complexType>

	<xs:complexType name="provider">
		<xs:sequence>
			<xs:element name="last_name" minOccurs="0" type="xs:string" />
			<xs:element name="first_name" minOccurs="0" type="xs:string" />
			<xs:element name="middle_name" minOccurs="0" type="xs:string" />
			<xs:element name="npi" minOccurs="0" type="xs:string" />
			<xs:element name="Type" minOccurs="0" type="dictionary" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="type_id" type="xs:integer" />
	</xs:complexType>

	<xs:complexType name="sampleItem">
		<xs:sequence>
			<xs:element name="source_other" minOccurs="0" type="xs:string" />
			<xs:element name="type_of_sample" type="dictionary" />
			<xs:element name="source_of_sample" minOccurs="0" type="dictionary" />
			<xs:element name="container" minOccurs="0" type="dictionary" />
			<xs:element name="unit_of_measure" minOccurs="0" type="dictionary" />
			<xs:element name="analysis" maxOccurs="unbounded" type="analysis" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="sample_id" type="xs:integer" use="required" />
		<xs:attribute name="sample_item_id" type="xs:integer" />
		<xs:attribute name="item_sequence" type="xs:integer" />
		<xs:attribute name="container_id" type="xs:integer" />
		<xs:attribute name="type_of_sample_id" type="xs:integer" />
		<xs:attribute name="quantity" type="xs:decimal" />
		<xs:attribute name="source_of_sample_id" type="xs:integer" />
		<xs:attribute name="unit_of_measure_id" type="xs:integer" />
	</xs:complexType>

	<xs:complexType name="sampleProject">
		<xs:sequence>
			<xs:element name="project" type="project" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="sample_id" type="xs:integer" use="required" />
		<xs:attribute name="project_id" type="xs:integer" use="required" />
		<xs:attribute name="is_permanent" type="xs:string" use="required" />
	</xs:complexType>

	<xs:complexType name="project">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="description" type="xs:string" />
			<xs:element name="reference_to" minOccurs="0" type="xs:string" />
			<xs:element name="owner" minOccurs="0" type="systemUser" />
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:integer" />
		<xs:attribute name="started_date" type="xs:date" />
		<xs:attribute name="completed_date" type="xs:date" />
		<xs:attribute name="is_active" type="xs:string" use="required" />
		<xs:attribute name="owner_id" type="xs:integer" />
	</xs:complexType>

	<xs:complexType name="sampleOrganization">
		<xs:sequence>
			<xs:element name="organization_attention" minOccurs="0"
				type="xs:string" />
			<xs:element name="Type" type="dictionary" />
			<xs:element name="organization" type="organization" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="sample_id" type="xs:integer" use="required" />
		<xs:attribute name="organization_id" type="xs:integer"
			use="required" />
		<xs:attribute name="type_id" type="xs:integer" use="required" />
	</xs:complexType>

	<xs:complexType name="organization">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="address" type="address" />
			<xs:element name="translation" minOccurs="0" type="translation" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="parent_organization_id" type="xs:integer" />
		<xs:attribute name="is_active" type="xs:string" />
		<xs:attribute name="address_id" type="xs:integer" use="required" />
	</xs:complexType>

	<xs:complexType name="organizationParameter">
		<xs:sequence>
			<xs:element name="value" type="xs:string" />
			<xs:element name="Type" type="dictionary" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="organization_id" type="xs:integer"
			use="required" />
		<xs:attribute name="type_id" type="xs:integer" use="required" />
	</xs:complexType>

	<xs:complexType name="analysis">
		<xs:sequence>
			<xs:element name="test" type="test" />
			<xs:element name="section" type="section" />
			<xs:element name="unit_of_measure" minOccurs="0" type="dictionary" />
			<xs:element name="status" type="dictionary" />
			<xs:element name="Type" minOccurs="0" type="dictionary" />
			<xs:element name="panel" minOccurs="0" type="panel" />
			<xs:element name="analysis_qaevent" minOccurs="0"
				maxOccurs="unbounded" type="analysisQaevent" />
			<xs:element name="analysis_user" type="analysis_user"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="note" type="note" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="result" minOccurs="0" maxOccurs="unbounded"
				type="result" />
			<xs:element name="analysis_qc" minOccurs="0" type="analysisQc" />
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:integer" />
		<xs:attribute name="sample_item_id" type="xs:integer"
			use="required" />
		<xs:attribute name="revision" type="xs:integer" use="required" />
		<xs:attribute name="pre_analysis_id" type="xs:integer" />
		<xs:attribute name="parent_analysis_id" type="xs:integer" />
		<xs:attribute name="parent_result_id" type="xs:integer" />
		<xs:attribute name="is_reportable" type="xs:string" use="required" />
		<xs:attribute name="available_date" type="xs:dateTime" />
		<xs:attribute name="started_date" type="xs:dateTime" />
		<xs:attribute name="completed_date" type="xs:dateTime" />
		<xs:attribute name="released_date" type="xs:dateTime" />
		<xs:attribute name="printed_date" type="xs:dateTime" />
		<xs:attribute name="panel_id" type="xs:integer" />
		<xs:attribute name="section_id" type="xs:integer" />
		<xs:attribute name="status_id" type="xs:integer" use="required" />
		<xs:attribute name="test_id" type="xs:integer" use="required" />
		<xs:attribute name="type_id" type="xs:integer" />
		<xs:attribute name="unit_of_measure_id" type="xs:integer" />
	</xs:complexType>

	<xs:complexType name="test">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="description" type="xs:string" />
			<xs:element name="reporting_description" type="xs:string" />
			<xs:element name="method" type="method" />
			<xs:element name="test_format" minOccurs="0" type="dictionary" />
			<xs:element name="revision_method" minOccurs="0" type="dictionary" />
			<xs:element name="reporting_method" minOccurs="0" type="dictionary" />
			<xs:element name="sorting_method" minOccurs="0" type="dictionary" />
			<xs:element name="test_trailer" minOccurs="0" type="testTrailer" />
			<xs:element name="translation" minOccurs="0" type="translation" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="is_active" type="xs:string" use="required" />
		<xs:attribute name="active_begin" type="xs:date" />
		<xs:attribute name="active_end" type="xs:date" />
		<xs:attribute name="is_reportable" type="xs:string" use="required" />
		<xs:attribute name="time_transit" type="xs:integer" use="required" />
		<xs:attribute name="time_holding" type="xs:integer" use="required" />
		<xs:attribute name="time_ta_average" type="xs:integer"
			use="required" />
		<xs:attribute name="time_ta_warning" type="xs:integer"
			use="required" />
		<xs:attribute name="time_ta_max" type="xs:integer" use="required" />
		<xs:attribute name="reporting_sequence" type="xs:integer" />
		<xs:attribute name="method_id" type="xs:integer" use="required" />
		<xs:attribute name="reporting_method_id" type="xs:integer" />
		<xs:attribute name="revision_method_id" type="xs:integer" />
		<xs:attribute name="sorting_method_id" type="xs:integer" />
		<xs:attribute name="test_format_id" type="xs:integer" />
		<xs:attribute name="test_trailer_id" type="xs:integer" />
	</xs:complexType>

	<xs:complexType name="method">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="description" type="xs:string" />
			<xs:element name="reporting_description" type="xs:string" />
			<xs:element name="translation" minOccurs="0" type="translation" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="is_active" type="xs:string" use="required" />
		<xs:attribute name="active_begin" type="xs:date" use="required" />
		<xs:attribute name="active_end" type="xs:date" use="required" />
	</xs:complexType>

	<xs:complexType name="section">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="description" type="xs:string" />
			<xs:element name="organization" minOccurs="0" type="organization" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="parent_section_id" type="xs:integer" />
		<xs:attribute name="is_external" type="xs:string" use="required" />
	</xs:complexType>

	<xs:complexType name="panel">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="description" type="xs:string" />
			<xs:element name="translation" minOccurs="0" type="translation" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
	</xs:complexType>

	<xs:complexType name="testTrailer">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="description" type="xs:string" />
			<xs:element name="text" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
	</xs:complexType>

	<xs:complexType name="testResult">
		<xs:sequence>
			<xs:element name="value" minOccurs="0" type="xs:string" />
			<xs:element name="flags" minOccurs="0" type="dictionary" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="test_id" type="xs:integer" use="required" />
		<xs:attribute name="result_group" type="xs:integer" use="required" />
		<xs:attribute name="sort_order" type="xs:integer" use="required" />
		<xs:attribute name="flags_id" type="xs:integer" />
		<xs:attribute name="type_id" type="xs:integer" use="required" />
		<xs:attribute name="roundingMethodId" type="xs:integer" />
		<xs:attribute name="unitOfMeasureId" type="xs:integer" />
	</xs:complexType>

	<xs:complexType name="analysisQaevent">
		<xs:sequence>
			<xs:element name="qaevent" type="qaevent" />
			<xs:element name="Type" type="dictionary" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="analysis_id" type="xs:integer" use="required" />
		<xs:attribute name="is_billable" type="xs:string" use="required" />
		<xs:attribute name="qaevent_id" type="xs:integer" use="required" />
		<xs:attribute name="type_id" type="xs:integer" use="required" />
	</xs:complexType>

	<xs:complexType name="qaevent">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="description" type="xs:string" minOccurs="0" />
			<xs:element name="reporting_text" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="result">
		<xs:sequence>
			<xs:element name="value" minOccurs="0" type="xs:string" />
			<xs:element name="test_result" minOccurs="0" type="testResult" />
			<xs:element name="analyte" minOccurs="1" type="analyte" />
			<xs:element name="Type" minOccurs="0" type="dictionary" />
			<xs:element name="dictionary" minOccurs="0" type="dictionary" />
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:integer" />
		<xs:attribute name="analysis_id" type="xs:integer" use="required" />
		<xs:attribute name="test_analyte_id" type="xs:integer"
			use="required" />
		<xs:attribute name="test_result_id" type="xs:integer" />
		<xs:attribute name="is_column" type="xs:string" use="required" />
		<xs:attribute name="sort_order" type="xs:integer" use="required" />
		<xs:attribute name="is_reportable" type="xs:string" use="required" />
		<xs:attribute name="analyte_id" type="xs:integer" use="required" />
		<xs:attribute name="type_id" type="xs:integer" />
	</xs:complexType>

	<xs:complexType name="analysis_user">
		<xs:sequence>
			<xs:element name="system_user" type="systemUser" />
			<xs:element name="action" minOccurs="0" type="dictionary" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="analysis_id" type="xs:integer" use="required" />
		<xs:attribute name="action_id" type="xs:integer" use="required" />
		<xs:attribute name="system_user_id" type="xs:integer"
			use="required" />
	</xs:complexType>

	<xs:complexType name="note">
		<xs:sequence>
			<xs:element name="subject" minOccurs="0" type="xs:string" />
			<xs:element name="text" minOccurs="0" type="xs:string" />
			<xs:element name="system_user" type="systemUser" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="reference_id" type="xs:integer" use="required" />
		<xs:attribute name="reference_table_id" type="xs:integer"
			use="required" />
		<xs:attribute name="timestamp" type="xs:dateTime" use="required" />
		<xs:attribute name="is_external" type="xs:string" use="required" />
		<xs:attribute name="system_user_id" type="xs:integer"
			use="required" />
	</xs:complexType>

	<xs:complexType name="systemUser">
		<xs:sequence>
			<xs:element name="external_id" minOccurs="0" type="xs:string" />
			<xs:element name="login_name" type="xs:string" />
			<xs:element name="last_name" minOccurs="0" type="xs:string" />
			<xs:element name="first_name" minOccurs="0" type="xs:string" />
			<xs:element name="initials" minOccurs="0" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
	</xs:complexType>

	<xs:complexType name="sampleQaevent">
		<xs:sequence>
			<xs:element name="qaevent" type="qaevent" />
			<xs:element name="Type" type="dictionary" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="sample_id" type="xs:integer" use="required" />
		<xs:attribute name="is_billable" type="xs:string" use="required" />
		<xs:attribute name="qaevent_id" type="xs:integer" use="required" />
		<xs:attribute name="type_id" type="xs:integer" use="required" />
	</xs:complexType>

	<xs:complexType name="auxData">
		<xs:sequence>
			<xs:element name="value" minOccurs="0" type="xs:string" />
			<xs:element name="analyte" type="analyte" />
			<xs:element name="Type" minOccurs="0" type="dictionary" />
			<xs:element name="dictionary" minOccurs="0" type="dictionary" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="sort_order" type="xs:integer" use="required" />
		<xs:attribute name="aux_field_id" type="xs:integer" use="required" />
		<xs:attribute name="reference_id" type="xs:integer" use="required" />
		<xs:attribute name="reference_table_id" type="xs:integer"
			use="required" />
		<xs:attribute name="is_reportable" type="xs:string" use="required" />
		<xs:attribute name="analyte_id" type="xs:integer" use="required" />
		<xs:attribute name="type_id" type="xs:integer" />
	</xs:complexType>

	<xs:complexType name="dictionary">
		<xs:sequence>
			<xs:element name="system_name" minOccurs="0" type="xs:string" />
			<xs:element name="entry" type="xs:string" />
			<xs:element name="translation" type="translation"
				minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
	</xs:complexType>

	<xs:complexType name="address">
		<xs:sequence>
			<xs:element name="multiple_unit" minOccurs="0" type="xs:string" />
			<xs:element name="street_address" minOccurs="0" type="xs:string" />
			<xs:element name="city" minOccurs="0" type="xs:string" />
			<xs:element name="state" minOccurs="0" type="xs:string" />
			<xs:element name="zip_code" minOccurs="0" type="xs:string" />
			<xs:element name="home_phone" minOccurs="0" type="xs:string" />
			<xs:element name="cell_phone" minOccurs="0" type="xs:string" />
			<xs:element name="fax_phone" minOccurs="0" type="xs:string" />
			<xs:element name="email" minOccurs="0" type="xs:string" />
			<xs:element name="country" minOccurs="0" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
	</xs:complexType>

	<xs:complexType name="analyte">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="external_id" minOccurs="0" type="xs:string" />
			<xs:element name="translation" type="translation"
				minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="is_active" use="required" type="xs:string" />
		<xs:attribute name="parent_analyte_id" type="xs:integer" />
	</xs:complexType>

	<xs:complexType name="translation">
		<xs:sequence>
			<xs:element name="profile" type="xs:string" />
			<xs:element name="code" type="xs:string" />
			<xs:element name="description" minOccurs="0" type="xs:string" />
			<xs:element name="coding_system" minOccurs="0" type="xs:string" />
			<xs:element name="version" minOccurs="0" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="reference_id" type="xs:integer" use="required" />
		<xs:attribute name="is_active" type="xs:string" use="required" />
	</xs:complexType>

	<xs:complexType name="analysisQc">
		<xs:sequence>
			<xs:element name="qc_name" minOccurs="1" type="xs:string" />
			<xs:element name="source" minOccurs="0" type="xs:string" />
			<xs:element name="lot_number" minOccurs="1" type="xs:string" />
			<xs:element name="expected_value" minOccurs="1" type="xs:string" />
			<xs:element name="qc_result" maxOccurs="30" minOccurs="0"
				type="qcResult" />
			<xs:element name="qc_type" minOccurs="0" type="dictionary" />
			<xs:element name="location" minOccurs="0" type="dictionary" />
			<xs:element name="prepared_unit" minOccurs="0" type="dictionary" />
			<xs:element name="prepared_by" minOccurs="0" type="systemUser" />
			<xs:element name="analyte" minOccurs="1" type="analyte" />
			<xs:element name="qc_analyte_type" minOccurs="1" type="dictionary" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required" />
		<xs:attribute name="worksheet_analysis_id" type="xs:integer"
			use="required" />
		<xs:attribute name="position" type="xs:integer" use="required" />
		<xs:attribute name="qc_type_id" type="xs:integer" />
		<xs:attribute name="location_id" type="xs:integer" />
		<xs:attribute name="prepared_date" type="xs:dateTime"
			use="required" />
		<xs:attribute name="prepared_volume" type="xs:double" />
		<xs:attribute name="prepared_unit_id" type="xs:integer" />
		<xs:attribute name="prepared_by_id" type="xs:integer" />
		<xs:attribute name="usable_date" type="xs:dateTime" use="required" />
		<xs:attribute name="expired_date" type="xs:dateTime" use="required" />
		<xs:attribute name="analyte_id" type="xs:integer" use="required" />
		<xs:attribute name="qc_analyte_type_id" type="xs:integer"
			use="required" />
		<xs:attribute name="analysis_id" type="xs:integer" use="required" />
	</xs:complexType>

	<xs:complexType name="qcResult">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="value" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="worksheet_qc_result_id" type="xs:integer"
			use="required" />
		<xs:attribute name="sequence" type="xs:integer" use="required" />
	</xs:complexType>
</xs:schema>